<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item" id="nav_membership">
        <a class="nav-link" href="/membership">
          <img style="height: 3.125rem" src="../images/icons/membership-icon.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Membership</span>
        </a>
      </li>
      <li class="nav-item" id="nav_transactionEncoding">
        <a class="nav-link" href="/transactionEncoding">
          <img style="height: 3.125rem" src="../images/icons/transactionEncoding-icon.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Transaction Encoding</span>
        </a>
      </li>
      <li class="nav-item" id="nav_rewardInquiry">
        <a class="nav-link" href="/rewardInquiry">
          <img style="height: 3.125rem" src="../images/icons/rewardInquiry-icon.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Reward Inquiry</span>
        </a>
      </li>
      <li class="nav-item" id="nav_redeemPoints">
        <a class="nav-link" href="/redeem">
          <img style="height: 3.125rem" src="../images/icons/redeemPoints-icon.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Redeem Points</span>
        </a>
      </li>
      <li class="nav-item" id="nav_cardPrinting">
        <a class="nav-link" href="/cardPrinting">
          <img style="height: 3.125rem" src="../images/icons/cardPrinting-icon.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Card Printing</span>
        </a>
      </li>
      <li class="nav-item" id="nav_serviceReminder">
        <a class="nav-link" href="/serviceReminder">
          <img style="height: 3.125rem" src="../images/icons/calendar.png">
          <span style="color: #DD162C; font-weight: 600; font-size: 0.875rem">Service Reminder</span>
        </a>
      </li>
    </ul>
  </nav>
</div>