<!doctype html>
<html lang="en">

<head>
    
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">
    
    <style type="text/css">
        
        table tr:hover{
            color: #DD162C !important;
            cursor: pointer;
        }
        
        table tr{
            width: 100%;
        }
        
        table th{
            width: 0 !important;
        }
        
        .selectedRow{
            color: #DD162C !important;
        }
        
        /* Customize the label (the container) */
        .container {
            display: block;
            position: relative;
            padding-left: 15px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        
        /* Create a custom radio button */
        .checkmark {
            display: block;
            margin: auto;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%;
        }
        
        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        
        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #31E854;
        }
        
        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        
        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
        
        .actionButton{
            float: right;
            cursor: pointer;
        }
        
    </style>
    
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show"> 
    
    <% include partials/header.ejs %>
    
    <div class="app-body">
        
        <% include partials/sidebar.ejs %>
        
        <main class="main p-3">
            <div class="animated fadeIn row h-100">
                
                <div class="col-md-5">
                    <div class="card h-100 mb-0">
                        <div class="card-header">
                            <b>Change password</b>
                            <div class="card-header-actions">
                                
                                <button type="button" class="btn btn-danger btn-sm" id="btn_save"><i class="fa fa-floppy-o"></i> Save</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group loginTextBoxHolder"> <span class="loginLabelHolder">Username</span><br>
                                        <b><span id="userName" class="loginLabelHolder"></span></b>
                                    </div>
                                </div>

                                <div id="divPassword" class="col-md-12">
                                    <div class="form-group loginTextBoxHolder"> <span class="loginLabelHolder">Old Password</span>
                                        <input type="password" class="large-textbox form-control field" id="oldPassword" placeholder="Old Password">
                                    </div>
                                </div>

                                <div id="divPassword" class="col-md-12">
                                    <div class="form-group loginTextBoxHolder"> <span class="loginLabelHolder">New Password</span>
                                        <input type="password" class="large-textbox form-control field" id="password" placeholder="New Password">
                                    </div>
                                </div>
                                
                                <div id="divRePassword" class="col-md-12">
                                    <div class="form-group loginTextBoxHolder"> <span class="loginLabelHolder">Re-type New Password</span>
                                        <input type="password" class="large-textbox form-control field" id="retypePassword" placeholder="Re-type New Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script src="../js/changePassword.js"></script>
    <script src="../utils/table.js"></script>
    <script src="../utils/formManager.js"></script>
    
</body>


</html>