<!doctype html>
<html lang="en">

  <head> <% include partials/head.ejs %> </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show"> 
    
    <% include partials/header.ejs %>

    <div class="app-body">
      
      <% include partials/sidebar.ejs %>

      <main class="main" style="background-image: url('../images/banners/homepageBackground.png'); background-size: 80% 80%; background-position: center; background-repeat: no-repeat; opacity: .2 ">
        <div class="container-fluid">
            <div class="animated fadeIn"></div>
        </div>
      </main>
    </div>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

  </body>


</html>